.contenedor{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:1;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  width: 222vh;
  height: 100vh;
  overflow: hidden;
  margin:-5ch;
  color: rgb(244, 238, 230); */

}
.botoNav{
  width: 2rem;
}
.contenedorBoton{
  display: flex;
  justify-content: end;
  width: 75rem;
}

.video-fondo{
  width: 150%;
  height: 130%;
}

.contenedorTex{
    position: absolute;
    display: flex;
    text-align: left;
    justify-content: left;
    flex-direction: row;
    width:75rem;
    font-size: 55%;
    background-color:rgba(114, 85, 142, 0.315);
    margin-top: -5rem;
    padding: 0.5rem ;
    border-radius: 1rem;
    
}
.MiFoto{
    display: flex;
    width: 10rem;
    height: 10rem;
    justify-content: end; 
    margin-left: -16rem; 
    margin-top: 6rem;
}

.textos{
  display: flex;
  flex-direction: column;
  color: rgb(189, 161, 125);
}
.miNombreEs{
  color: rgb(189, 161, 125);
  font-size: 1rem;
  margin-top: -0rem;
  margin-bottom: 0rem;
}
.foto{
  height: 15rem;
  width: 15rem;
  border-radius: 1rem;


}
.texto{
  font-size: 1rem;
  width: 50rem;
  text-align: justify;
  color: rgb(240, 233, 224);

}

.MiFoto412{
  display: none;
}

.contenedor412{
  display: none;
}

@media screen and (max-width: 360px){
  .contenedor{
    overflow: scroll;
  }

  .video-fondo{
    width: 100rem;
    position: fixed;
  }

  .contenedorTex{
    width: 18rem;
    margin-top: 0rem;
    height: 38rem;
  }

  .Hola{
    color: rgb(189, 161, 125);
    font-size: 2rem;
    margin-top: -0rem;
    margin-bottom: 1.5rem;
  }

  .miNombreEs{
    color: rgb(189, 161, 125);
    font-size: 1rem;
    margin-top: -0rem;
    margin-bottom: 0rem;
  }

  .textos{
    width: 18rem;
    height: 31rem;
    font-size: 75%;
  }

  .texto{
    width: 18rem;
  }

  .MiFoto{
    display: none;
  }

  .MiFoto412{
    width: 16rem;
    display: flex;
    justify-content: center;
    margin-top:0rem;
    margin-bottom: 0rem;
  }

  .foto412{
    width: 10rem;
    object-fit: contain;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1rem black;
  } 

  .contenedorBoton{
    width: 18rem;
    margin-bottom: -3rem;
  }

  .botoNav{
   margin: 0;
   width: 1,5rem;
   
  }
}